/* DEFINITIONS */
:root {
    --blue: #1e2439;
    --green: #528123;
    --white: #e8e8e8;
}

/* COMMONS */
body {
    background-color: var(--blue);
    color: var(--white);
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    color: var(--green);
}

/* HEADER */

header {
    margin: 24px 0;
    padding: 16px;
    text-align: center;
}

section {
    background
}

header h1 {
    font-size: 20px;
    margin: 0;
}

header h2 {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

/* SECTION - GAME */

section {
    margin: 0 auto;
    display: flex;
    flex: 1;
}

.container {
    width: 360px;
    height: full;
    margin: 0 16px;
    padding: 8px;
    background: var(--green);
    border: none;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}

.middle-ground {
    background-image: url("/assets/line-vector.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
}

.score {
    width: 92px;
    height: 92px;
    background-image: url("/assets/score-vector.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.score h3 {
    margin:0;
    padding:0;
}

.details {
    text-align: center;
    padding: 8px;
    font-size: 16px;
}

.table-text h3 {
    background-color: var(--green);
    font-size: 24px;
    font-weight: 700;
    margin: 14px 0;
    padding-left: 15px;
    padding-right: 12px;
    display: inline-block
}

.round{
    background: var(--white);
    color: var(--green);
    width: 68px;
    height: 68px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 10px;
    margin-right: 0px;
    border-radius: 50%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
}

.round h2 {
    font-size: 12px;
    font-weight: 700;
    /* margin-top: 0; */
    margin-left: 4px;
    margin-bottom: -5px;
}

.round h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    z-index: 0;
}

.side {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
 }

.side h3 {
    font-size: 48px;
    opacity: 0.2;
}

.card {
    z-index: 10;
    width: 80;
    height: 124;
    background: var(--white);
    /* --- */
    color: var(--blue);
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    /* --- */
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.card .back {
    width: 70;
    height: 110;
    background: var(--blue);
    background-image: url("/assets/card-design.svg");
    background-repeat: no-repeat;
    background-position: center;
}

/* FOOTER */

footer {
    margin: 24px auto;
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    color: var(--white);
}

footer h4 {
    font-size: 12px;
    font-weight: 300;
}

footer img {
    margin-left: 4px;
    margin-right: 8px;
}
