/* DEFINITIONS */
:root {
    --blue: #1e2439;
    --green: #528123;
    --white: #e8e8e8;
}

/* COMMONS */
body {
    background-color: var(--blue);
    color: var(--white);
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    letter-spacing: 5px;
}
